@use "@/styles/variables" as *;


.wrapper {
  min-height: 100vh;
  background: #f9fafb;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.container {
  width: 100%;
  max-width: 800px;
  background: $color-white;
  border: 1px solid $shadow-stroke;
  border-radius: 16px;
  padding: 24px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}

.title {
  font-size: 24px;
  font-weight: 600;
  color: $black-blue;
  margin-bottom: 20px;
}

.input {
  width: 100%;
  padding: 12px 14px;
  border: 1px solid $shadow-stroke;
  border-radius: 10px;
  font-size: 14px;
  margin-bottom: 16px;
  transition: 0.2s;

  &:focus {
    outline: none;
    border-color: $light-blue;
    box-shadow: 0 0 0 2px rgba($light-blue, 0.2);
  }
}

.textarea {
  width: 100%;
  min-height: 250px;
  padding: 14px;
  border: 1px solid $shadow-stroke;
  border-radius: 10px;
  font-family: monospace;
  font-size: 14px;
  resize: vertical;
  margin-bottom: 20px;
  transition: 0.2s;

  &:focus {
    outline: none;
    border-color: $light-blue;
    box-shadow: 0 0 0 2px rgba($light-blue, 0.2);
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.buttonPrimary {
  background: $light-blue;
  color: $color-white;
  border: none;
  padding: 10px 16px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s;

  &:hover {
    background: darken($light-blue, 5%);
  }
  &:disabled {
    background: grey;
    opacity: 0.5;
  }
}

.buttonSecondary {
  background: transparent;
  color: $black-blue;
  border: 1px solid $shadow-stroke;
  padding: 10px 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background: #f3f4f6;
  }
}


.selectWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.label {
  font-size: 13px;
  margin-bottom: 6px;
  color: $black-blue;
}

.select {
  padding: 10px 12px;
  border-radius: 10px;
  border: 1px solid $shadow-stroke;
  font-size: 14px;
  background: $color-white;
  cursor: pointer;
  transition: 0.2s;

  &:focus {
    outline: none;
    border-color: $light-blue;
    box-shadow: 0 0 0 2px rgba($light-blue, 0.2);
  }
}